* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: $font-family;
}

body {
    min-height: 100vh;
    background-color: $color-light-grayish-cyan-1;

    @media screen and (min-width: 1440px) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.wrapper {
    @media screen and (min-width:1440px) {
        width: 1000px;
    }
}