.output {
    padding: 40px 25px;
    background-color: $color-dark-cyan;
    border-radius: 20px;

    &__result-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    &__title,
    &__subtitle {
        font-size: .8rem;
        font-weight: bold;
    }

    &__title {
        color: $color-white;
    }

    &__subtitle {
        color: $color-dark-grayish-cyan-2;
    }

    &__result {
        font-size: 30px;
        color: $color-cyan;

        &::before {
            content: '$';
        }
    }

    &__btn {
        display: block;
        width: 100%;
        padding: 5px 0;
        color: $color-dark-cyan;
        font-family: $font-family;
        font-size: $input-font-size;
        text-transform: uppercase;
        font-weight: bold;
        outline: none;
        border-style: none;
        border-radius: 5px;
        background-color: $color-cyan;
        cursor: pointer;

        &:hover {
            color: $color-dark-cyan;
            background-color: $color-light-grayish-cyan-1;
        }
    }

    @media screen and (min-width: 1440px) {
        flex-basis: 48%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__title,
        &__subtitle {
            font-size: 1rem;
        }

        &__result {
            font-size: 40px;
        }
    }
}